<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->

    <link rel="stylesheet" href="../../css/bootstrap.min.css" />

    <title>Receive Raw Material</title>
  </head>
  <body>
    <div class="alert alert-dark" id="msg" role="alert"></div>

    <div class="container">
      <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <select id="mtname" required class="form-select">
            <!-- empty -->
          </select>
          <label class="form-label">Raw Material</label>
        </div>

        <div class="form-outline mb-4">
          <input type="number" id="mtqty" class="form-control" required />
          <label class="form-label">Qty</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">
          add to Stock
        </button>
      </form>
    </div>

    <script>
      const electron = require("electron");
      const { ipcRenderer } = electron;
      const form = document.querySelector("form");
      form.addEventListener("submit", submitForm);

      document.querySelector("#msg").style.visibility = "hidden";

      document.addEventListener(
        "DOMContentLoaded",
        function () {
          ipcRenderer.send("raw:material:rcv:loaded", "loaded");
        },
        false
      );

      ipcRenderer.on("raw:material:rcv:fetched", function (e, data) {
        const mtname = document.querySelector("#mtname");

        for (var k = 0; k < data.length; k++) {
          mtname.options.add(
            new Option(data[k].raw_mat_name, data[k].raw_mat_id)
          );
        }
      });

      function submitForm(e) {
        e.preventDefault();

        const mtname = document.querySelector("#mtname").value;
        const mtqty = document.querySelector("#mtqty").value;

        ipcRenderer.send("raw:material:rcv:submit", [mtname, mtqty]);

        ipcRenderer.on("raw:material:rcv:reply", function (e, reply) {
          if (reply == "success") {
            document.querySelector("#msg").style.visibility = "visible";
            document.querySelector("#msg").className = "alert alert-success";

            document.querySelector("#mtname").value = "";
            document.querySelector("#mtqty").value = "";
            document.querySelector("#msg").textContent =
              "Stock Added Successfully!";
          } else {
            document.querySelector("#msg").style.visibility = "visible";
            document.querySelector("#msg").className = "alert alert-danger";
            document.querySelector("#msg").textContent = reply;
          }
        });
      }
    </script>
  </body>
</html>
