<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->

    <link rel="stylesheet" href="../../css/bootstrap.min.css" />

    <title>Semi Good</title>
  </head>
  <body>
    <div class="alert alert-dark" id="msg" role="alert"></div>

    <div class="container">
      <button
        type="button"
        id="btn-list"
        class="btn btn-secondary btn-block mb-4"
      >
        back to list
      </button>
      <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="hidden" id="semiid" class="form-control" />
          <input
            type="text"
            id="seminame"
            autofocus
            class="form-control"
            required
          />

          <label class="form-label">Semi Good Name</label>
        </div>

        <div class="form-outline mb-4">
          <select id="semiunit" class="form-control">
            <!-- empty -->
          </select>
          <label class="form-label">Unit</label>
        </div>

        <div class="form-outline mb-4">
          <div class="bd-example" data-example-id="">
            <table class="table table-bordered" id="raw_materials_list">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Raw Materials</th>
                  <th>Qty</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">
          Update
        </button>
      </form>
    </div>

    <script>
      const electron = require("electron");
      const { ipcRenderer } = electron;
      const form = document.querySelector("form");

      form.addEventListener("submit", submitForm);

      document.querySelector("#msg").style.visibility = "hidden";

      const listLink = document.querySelector("#btn-list");

      listLink.addEventListener("click", function (event) {
        ipcRenderer.send("semi:good:list:click", "clicked");
      });

      document.addEventListener(
        "DOMContentLoaded",
        function () {
          ipcRenderer.send("semi:good:edit:loaded", "loaded");
        },
        false
      );

      ipcRenderer.on("semi:good:edit:fetched", function (e, data) {
        document.querySelector("#semiid").value = data[0][0].semi_good_id;
        document.querySelector("#seminame").value = data[0][0].semi_good_name;
        console.log(data);
        const semiunit = document.querySelector("#semiunit");
        for (var k = 0; k < data[1].length; k++) {
          semiunit.options.add(
            new Option(data[1][k].unit_details, data[1][k].unit_name)
          );
        }
        document.querySelector("#semiunit").value = data[0][0].semi_good_unit;

        document.querySelector("#raw_materials_list > tbody").innerHTML =
          data[2];
      });

      function submitForm(e) {
        e.preventDefault();
        const seminame = document.querySelector("#seminame").value;
        const semiunit = document.querySelector("#semiunit").value;
        const semiid = document.querySelector("#semiid").value;

        let raw_material_id = [];
        let raw_material_qty = [];

        let raw_material_id_list =
          document.querySelectorAll("#raw_materials_id");
        let raw_material_qty_list =
          document.querySelectorAll("#raw_materials_qty");

        for (let i = 0; i < raw_material_id_list.length; i++) {
          let e = raw_material_id_list[i];
          raw_material_id.push(e.value);
        }

        for (i = 0; i < raw_material_qty_list.length; i++) {
          var e = raw_material_qty_list[i];
          raw_material_qty.push(e.value);
        }

        ipcRenderer.send("semi:good:edit:submit", [
          semiid,
          seminame,
          semiunit,
          raw_material_id,
          raw_material_qty,
        ]);

        ipcRenderer.on("semi:good:edit:reply", function (e, reply) {
          if (reply == "success") {
            document.querySelector("#msg").style.visibility = "visible";
            document.querySelector("#msg").className = "alert alert-success";
            document.querySelector("#msg").textContent = "Edited Successfully!";
          } else {
            document.querySelector("#msg").style.visibility = "visible";
            document.querySelector("#msg").className = "alert alert-danger";
            document.querySelector("#msg").textContent = reply;
          }
        });
      }
    </script>
  </body>
</html>
