<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->

    <link rel="stylesheet" href="../../css/bootstrap.min.css" />

    <title>Package</title>
  </head>
  <body>
    <div class="alert alert-dark" id="msg" role="alert"></div>

    <div class="container">
      <button
        type="button"
        id="btn-list"
        class="btn btn-secondary btn-block mb-4"
      >
        back to list
      </button>
      <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input
            type="text"
            id="packname"
            autofocus
            class="form-control"
            required
          />
          <label class="form-label">Package Name</label>
        </div>

        <div class="form-outline mb-4">
          <select id="packunit" class="form-select">
            <!-- empty -->
          </select>
          <label class="form-label">Unit</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">
          Add
        </button>
      </form>
    </div>

    <script>
      const electron = require("electron");
      const { ipcRenderer } = electron;
      const form = document.querySelector("form");
      form.addEventListener("submit", submitForm);

      document.querySelector("#msg").style.visibility = "hidden";

      const listLink = document.querySelector("#btn-list");

      listLink.addEventListener("click", function (event) {
        ipcRenderer.send("pack:list:click", "clicked");
      });

      document.addEventListener(
        "DOMContentLoaded",
        function () {
          ipcRenderer.send("pack:add:loaded", "loaded");
        },
        false
      );

      ipcRenderer.on("pack:add:fetched", function (e, data) {
        const packunit = document.querySelector("#packunit");
        for (var k = 0; k < data.length; k++) {
          packunit.options.add(
            new Option(data[k].unit_details, data[k].unit_name)
          );
        }
      });

      function submitForm(e) {
        e.preventDefault();

        const packname = document.querySelector("#packname").value;
        const packunit = document.querySelector("#packunit").value;
        ipcRenderer.send("pack:add:submit", [packname, packunit]);

        ipcRenderer.on("pack:add:reply", function (e, reply) {
          if (reply == "success") {
            document.querySelector("#msg").style.visibility = "visible";
            document.querySelector("#msg").className = "alert alert-success";

            document.querySelector("#packname").value = "";

            document.querySelector("#msg").textContent = "Added Successfully!";
          } else {
            document.querySelector("#msg").style.visibility = "visible";
            document.querySelector("#msg").className = "alert alert-danger";
            document.querySelector("#msg").textContent = reply;
          }
        });
      }
    </script>
  </body>
</html>
