<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->

    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/custom-style.css" />
    <link rel="stylesheet" href="../../css/font-awesome.min.css" />

    <title>Goods Planing</title>
  </head>
  <body>
    <div class="alert alert-dark" id="msg" role="alert"></div>

    <div class="container">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Add <b>a Planing</b></h2>
            </div>
            <div class="col-sm-6">
              <button type="button" id="btn-add" class="btn btn-success">
                <i class="material-icons">&#xE147;</i> <span>Add New</span>
              </button>
            </div>
          </div>
        </div>
        <table class="table table-bordered" id="mat-tab" style="width: 100%">
          <thead class="thead-dark">
            <tr>
              <th scope="col" width="10%">SL#</th>
              <th scope="col" width="60%">Name</th>
              <th scope="col" width="10%">Unit</th>
              <th scope="col" width="20%">Action</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

    <script>
      const electron = require("electron");
      const { ipcRenderer } = electron;
      document.querySelector("#msg").style.visibility = "hidden";
      const addLink = document.querySelector("#btn-add");

      addLink.addEventListener("click", function (event) {
        ipcRenderer.send("raw:material:add:click", "clicked");
      });

      document.addEventListener(
        "DOMContentLoaded",
        function () {
          ipcRenderer.send("raw:material:list:loaded", "loaded");
        },
        false
      );

      ipcRenderer.on("raw:material:list:table", function (e, item) {
        document.querySelector("#mat-tab > tbody").innerHTML = item;
      });

      function deleteMe(id) {
        ipcRenderer.send("raw:material:delete:request", id);
      }
      function editMe(id) {
        ipcRenderer.send("raw:material:edit:request", id);
      }
      ipcRenderer.on("raw:material:list:deleted", function (e, reply) {
        document.querySelector("#msg").style.visibility = "visible";
        document.querySelector("#msg").className = "alert alert-danger";
        document.querySelector("#msg").textContent = reply;
      });
    </script>
  </body>
</html>
