<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->

    <link rel="stylesheet" href="../../css/bootstrap.min.css" />

    <title>Unit</title>
  </head>
  <body>
    <div class="alert alert-dark" id="msg" role="alert"></div>

    <div class="container">
      <button
        type="button"
        id="btn-list"
        class="btn btn-secondary btn-block mb-4"
      >
        back to list
      </button>
      <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input
            type="text"
            id="unitname"
            autofocus
            class="form-control"
            required
          />
          <label class="form-label">Unit Name</label>
        </div>

        <div class="form-outline mb-4">
          <input
            type="text"
            id="unitdetails"
            autofocus
            class="form-control"
            required
          />
          <label class="form-label">Unit Details</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">
          Add
        </button>
      </form>
    </div>

    <script>
      const electron = require("electron");
      const { ipcRenderer } = electron;
      const form = document.querySelector("form");
      form.addEventListener("submit", submitForm);

      document.querySelector("#msg").style.visibility = "hidden";

      const listLink = document.querySelector("#btn-list");

      listLink.addEventListener("click", function (event) {
        ipcRenderer.send("unit:list:click", "clicked");
      });

 

      function submitForm(e) {
        e.preventDefault();

        const unitname = document.querySelector("#unitname").value;
        const unitdetails = document.querySelector("#unitdetails").value;
        ipcRenderer.send("unit:add:submit", [unitname, unitdetails]);

        ipcRenderer.on("unit:add:reply", function (e, reply) {
          if (reply == "success") {
            document.querySelector("#msg").style.visibility = "visible";
            document.querySelector("#msg").className = "alert alert-success";

            document.querySelector("#unitname").value = "";
            document.querySelector("#unitdetails").value = "";

            document.querySelector("#msg").textContent = "Added Successfully!";
          } else {
            document.querySelector("#msg").style.visibility = "visible";
            document.querySelector("#msg").className = "alert alert-danger";
            document.querySelector("#msg").textContent = reply;
          }
        });
      }
    </script>
  </body>
</html>
