<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->

    <link rel="stylesheet" href="../css/bootstrap.min.css"  />


    <title>Login</title>
  </head>
  <body>
    
      <div class="alert alert-warning" id="msg" role="alert">
     
      </div>
     
    <div class="container">
      <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="text" id="user" autofocus class="form-control" />
          <label class="form-label" >User Name</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="password" class="form-control" />
          <label class="form-label" >Password</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">
          Log in
        </button>
      </form>
    </div>
    
    <script>
      
      const electron = require("electron");
      const { ipcRenderer } = electron;
      const form = document.querySelector("form");
      form.addEventListener("submit", submitForm);

      document.querySelector('#msg').style.visibility = 'hidden';

      function submitForm(e) {
        e.preventDefault();
        const user = document.querySelector("#user").value;
        const password = document.querySelector("#password").value;
        console.log(user);
        ipcRenderer.send('login:submit',[user,password])

        ipcRenderer.on('login:reply',function(e,item){
              if(item=='success') {
              ipcRenderer.send('login:success','yes') 
              window.close() } 
              else{
                 document.querySelector('#msg').style.visibility = 'visible'; 
                 document.querySelector('#msg').textContent='Failed to Login';
              } 
                  
        });

      }
    </script>
  </body>
</html>
